Host bastion.ops
  Hostname 35.166.170.122
  User ubuntu
  Identityfile ~/.ssh/bastion3ops.pem

Host build2.ops
  Hostname build2.ops
  User ubuntu
  IdentityFile /home/longdv/.ssh/my_app2.pem
  ProxyCommand ssh -W %h:%p bastion.ops

Host app1.stage
  Hostname app1.stage
  User ubuntu
  IdentityFile /home/longdv/.ssh/my_app2.pem
  ProxyCommand ssh -W %h:%p bastion.ops

Host app1.production
  Hostname app1.production
  User ubuntu
  IdentityFile /home/longdv/.ssh/my_app2.pem
  ProxyCommand ssh -W %h:%p bastion.ops
