Host bastion.ops
  Hostname IP
  User ubuntu
  Identityfile ~/.ssh/bastion3ops.pem

Host build2.ops
  Hostname %h
  User ubuntu
  IdentityFile /home/longdv/.ssh/my_app2.pem
  ProxyCommand ssh -W %h:%p bastion.ops

Host *.stage
  Hostname %h
  User ubuntu
  IdentityFile /home/longdv/.ssh/my_app2.pem
  ProxyCommand ssh -W %h:%p bastion.ops

Host *.production
  Hostname %h
  User ubuntu
  IdentityFile /home/longdv/.ssh/my_app2.pem
  ProxyCommand ssh -W %h:%p bastion.ops
